<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatalogContentPage</title>
</head>
<body>
<div class="container-fluid hintDialog">
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="">
        </div>
        <div class="col-md-8">
            <h3></h3>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/jQuery/jquery-3.2.1.min.js"></script>
</html>





